*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Quicksand', sans-serif;
   
}
/* Categories */
/* .categories__title{
    text-align: center;
}
.categories__title p{
    color: #ff6c0c;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.categories__title h2{
    font-weight: 600;
}
.card-img-overlay{
    top: auto;
}
.card h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}
.card p{
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.18);
}
.categories__title{
    padding-bottom: 40px;
}
.img-fluid{
    -webkit-border-radius: 6px ;
}
.category__cardview {
    border-radius: 20px;
} */

.title-subhny{
    color: #ff6c0c;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.title-w3l{
    font-weight: 600;
}
.gal-slide-info{
    left: auto;
    bottom: 0;
    width: 95%;
    padding: 0 10px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
}
.gal-slide-info{
    opacity: 1;
    transition: all 0.5s;
}
.gal-slide-info a{
    color: #fff;
    text-decoration: none;
}
.gal-slide-info h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}
.gal-slide-info span{
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.img-fluid{
    
    border-radius: 5px;
}
.gal-slide-img{
    position: relative;
}
.gal-slide-img:after{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}



